.panel {
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.titleBar{
	margin-top: 0px;
	border: 1px solid #4A0C00; 
	border-radius: 4px; 
	background-color: #db4c3f; 
	color: white; 
	padding: 5px;
}

.panel-heading {
	cursor: pointer;
}

.panel-body {
    padding: 5px;
}

.item p{
	cursor: pointer;
}

.item {
	width:178px;
	height:98px;	
	border: 2px solid #BFBFBF;
	border-radius: 4px;	
	margin-right: 5px;
    margin-bottom: 5px;
	transition: 0.3s ease-in;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

	/* required to hide the image after resized */
	overflow:hidden;
	
	/* for child absolute position */
	position:relative;
	
	/* display div in line */
	float:left;
}

.controllPanel{
	width: 100%;
    height: 20px;
}

.groupIcon{
	height: 20px;
    margin-right: 5px;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
}

@media (min-width: 768px)
.container {
	width: 775pxs;
}

.panel-heading {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.item .caption {
	width:100%;
	height: 100%;

	background:#000;
	color:#fff;
	font-weight:bold;
		
	/* fix it at the bottom */
	position:absolute;
	bottom:0;

	/* hide it by default */
	display:none;

	/* opacity setting */
	filter:alpha(opacity=80);    /* ie  */
	-moz-opacity:0.8;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.8;    /* for really really old safari */  
	opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */

}

.zoomTab:hover{
	color: #4285f4;
}

.zoomTab{
	color: white;
	cursor: pointer;
	float: right;
}

.closeTab:hover, .closeGroup:hover{
	color: red;
}

.closeTab, .closeGroup{
	color: #FF5151;
	cursor: pointer;
	float: right;
}

.item .caption a {
	text-decoration: none;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 3px;
    display: block;
}

.item .caption a.zoomTab {
	font-size: 14px;
}

.item .caption p {
	padding:5px;	
	margin:1;
	font-size:12px;
	width: 100%;
	line-height: 1.2;
	float: left;
	max-height: 50px;
    overflow: hidden;
}

.item .thumbnailImg img {
	border:0;
	width:180px;
	/* allow javascript moves the img position*/
	position:absolute;
}

.clear {
	clear:both;	
}

.tab:hover { 
	box-shadow: 0 0 10px #ccc; 
}

.panel-default>.important-header {
    color: #3F51B5!important;
}
